html,
body {
  height: 100%;
  margin: 0;
}

a {
  color: #F1F2EB;
  padding: 2px 2px 2px 0;
  background-image: linear-gradient(0, #809BCE 0%, #EAC4D5 100%);
  background-repeat: no-repeat;
  background-size: 0 .2em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

a:hover {
  color: #F1F2EB;
  background-size: 50% .2em;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #152028;
  color: #F1F2EB;
}

#app {
  width: 80vw;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Header */

#contact {
  display: flex;
}

#contact-img {
  display: flex;
  width: 162px;
}

#contact-info {
  line-height: 1.5;
}

#headshot {
  border-radius: 24px;
  width: 120px;
  text-align: center;
}

#name {
 color: #E8E1A2;
}

/* Menu */

#menu {
  display: flex;
  flex-flow: column;
}


#menu h2 {
  cursor: pointer;
  padding: 12px 12px 12px 0;
  margin: 6px 0px;
  font-size: 18px;
  width: 150px;
  
  background-image: linear-gradient(0, #809BCE 0%, #EAC4D5 100%);
  background-repeat: no-repeat;
  background-size: 0 .2em;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
}

#menu h2:hover:not(.active) {
  background-size: 25% .2em;
}

#menu .active {
  background-size: 90% .4em;
}

/* Content */

#content {
  display: flex;
}

#contentSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.card {
  width: 125px;
  height: 125px;
  position: relative;
  background-color: #f1f2eb;
  border-radius: 24px;
  margin: 12px;
  cursor: pointer;

  transition: width .2s ease-in .2s;
}

.cardImg {
  width: 60px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Used for event bubbling */
  pointer-events: none;

  transition: top .2s ease-in, left .2s ease-in, transform .2s ease-in, width .2s ease-in, margin .2s ease-in;
}

.card.active {
  /* width: calc(100% - 200px); */
  width: 450px;
}

.card.active .cardImg {
  width: 50px;
  margin: 24px 0 0 24px;
  top: 0;
  left: 0;
  transform: translate(0);
}

/* Expanded card */

.expandedCard {
  color: black;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  transition: opacity .2s ease-in .4s;
  margin: 18px 24px 18px 90px;
}

.expandedCard.active {
  visibility: visible;
  opacity: 1;
}

.expandedCard h3, h4, h5 {
  margin: 0;
}

.expandedCard company {
  margin: 0;
}

