@import '~antd/dist/antd.css';

$color1: #ffffff;
$color2: #809BCE;
$color3: #EAC4D5;
$color4: #153131;
$transitionTime: .3s;

html,
body {
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: $color4;
  color: $color1;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

#menu {
  display: flex;
  justify-content: center;
  text-align: center;

  h2 {
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    color: $color4;
    padding: 12px 0 18px 0;
    font-size: 18px;
    width: 150px;
    margin-bottom: 0;
    
    background-image: linear-gradient(0, #809BCE 0%, #EAC4D5 100%);
    background-repeat: no-repeat;
    background-size: 0 .2em;
    background-position: 50% 90%;

    transition: background-size $transitionTime;
  }

  h2:hover:not(.active) {
    background-size: 20% .2em;
  }

  .active {
    background-size: 80% .4em;
  }
}

.cardImg {
  width: 60px;
  pointer-events: none;
}

.card-grid-item {
  width: 42%;
  height: 150px;
  text-align: center;
  margin: 4%;
  background-color: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#contact-info {
  font-size: 12px;
}

#headshot {
  border-radius: 2px;
  height: 125px;
}

#name {
 color: $color4;
 margin: 12px 0;
 font-family: 'Josefin Sans', sans-serif;
}

#contact {
  text-align: center;
  margin-right: 12px;
  width: 200px;
  display: flex;
  align-items: center;
}

#item-container {
  .ant-card-body {
    height: 425px;
  }
}

.ant-card {
  background-color: $color1;
  background-image: url("/images/spikes.png");
}

.ant-card-head {
  background: $color1
}

.site-drawer {
  position: relative;
  overflow: hidden;
}

ul {
  padding-inline-start: 12px;
}