/* body {
  background-color: #FBFAF9 !important;
} */
@import url('https://fonts.googleapis.com/css?family=Karla|Nunito|Rock+Salt');
h2, h3, h4, h5, h6, p{
  font-family: Nunito !important;
}
h1 {
  font-family: Rock Salt !important;
}
p{
  font-size: 1.2em;
}
.menu{
  justify-content: center;
}
.initialHeader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
}
.mainHeader{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
}
.container{
  position: absolute;
  top: 30%;
  width: 100%;
}
.mainContent{
  margin: 0 auto;
}
.centered{
  text-align: center;
}
.accent{
  color: #002642 !important;
}
.accent-button{
  background-color: #002642 !important;
  color: white !important;
}
.accent-weight{
  font-weight: bolder;
}
.aboutList{
  width: 90%;
  margin: 1em auto !important;
}
.galleryButtons{
  background-color: #002642 !important;
  color: white !important;
}