body {
  background-color: #E7ECEF !important;
}

.menu{
  justify-content: center;
}
.initialHeader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
}
.mainHeader{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
}
.content{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered{
  text-align: center;
}