/* body {
  background-color: #FBFAF9 !important;
} */
@import url('https://fonts.googleapis.com/css?family=Karla|Nunito|Rock+Salt');
body{
  background-color: #FFFFFF !important;
  -webkit-font-smoothing: antialiased;
}
h2, h3, h4, h5, h6, p{
  font-family: Nunito !important;
}
h1 {
  font-family: Rock Salt !important;
}
p{
  font-size: 1.2em;
}
.menu{
  justify-content: center;
}
.initialHeader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
}
.mainHeader{
  position: absolute;
  top: 10em;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease;
}
.container{
  position: absolute;
  top: 16em;
  width: 100%;
}

.centered{
  text-align: center;
}
.accent{
  color: #002642 !important;
}
.accent-button{
  background-color: #002642 !important;
  color: white !important;
}
.accent-weight{
  font-weight: bolder;
}
.aboutList{
  width: 90%;
  margin: 1em auto !important;
}
.galleryButtons{
  background-color: #002642 !important;
  color: white !important;
}
.aboutContent{
  margin: 2em auto 0 auto;
  width: 75%;
}
.projectContent{
  margin: 2em auto;
  width: 40%;
}
@media only screen and (max-width: 767px) {
  /* .project-overflow{
    overflow: auto;
    max-height: 360px; 
    position: relative;
  } */
  .aboutGallery {
    display: none !important;
  }
}
@media only screen and (min-width: 767px) {
  .aboutContent {
    width: 55%;
  }
}
@media only screen and (min-width: 1400px) {
  .aboutContent {
    width: 35%;
  }
  .projectContent {
    width: 35%;
  }
}